*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.dpth
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.md5
*.out
*.sav
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xdv

*.ai
*.pdf

*.bat
*.txt

*.zip

latexmkrc

.vs/
.vscode/
build/
files/
logo/
temp/
tools/

source/*.cls
source/*.def
source/*.ins
source/*.sty
source/*.tex
test/*.cls
test/*.def
