*.aux
*.bak
*.fdb_latexmk
*.fls
*.glo
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.sav
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xdv

*.ai
*.pdf

*.bat
*.txt

.vscode/
files/
temp/

source/fduthesis.ins

logo/original-files

!test/Fudan_*.pdf
